<%- include('../partials/head') %>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Recuperar senha</h2>
            <hr />
            <br />
            <% if (success) { %>
                <div class="alert alert-success"><%= success %></div>
            <% } %> 
            
            <% if (error) { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>

            <p>Digite seu email para receber instruções de como reiniciar a sua senha</p>

            <form action="/users/recoveryPass" method="post">
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Digite seu email" aria-describedby="helpId" />
                    <small id="helpId" class="text-muted">Ajuda</small>
                </div>

                <button type="submit" class="btn btn-primary">Recuperar senha</button>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>
